.elements {
    width: calc(100% - 2*200px);
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 2*17px)/3));
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 17px;
}