.button-add {
    width: 150px;
    height: 50px;
    padding: 0;
    margin: 0;
    border: 1px solid #FFFFFF;
    background-color: #000000;
    background-image: url(../../source/images/svg-images/addButton-background.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 426px) {
    .button-add {
        width: 100%;
    }
}

@media screen and (min-width: 426px) and (max-width: 623px) {
    .button-add {
        width: 320px;
    }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
    .button-add {
        width: 125px;
    }
}